body {
}

a {
    font-size: 20px;
}

    a:hover {
        color: black;
        font-size: 22px;
    }

    a:visited {
        color: mediumvioletred;
        text-decoration: underline;
        font-size: 20px;
    }

th, td {
    color: black;
    font-size: 20px;
}