@using BLL.DTO
@model IEnumerable<ModelDTO>

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>
                        <a asp-controller="Model" asp-action="AddModel">
                            Add Model
                        </a>
                    </th>
                </tr>
            </thead>

            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Desc</td>
                    <td>
                        <a asp-controller="Model" asp-action="EditModel" asp-route-id="@m.Id">
                            Edit Model
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>