@using BLL.DTO
@model ModelDTO
<!DOCTYPE html>
<html>
<body>
    <div>
        @using (Html.BeginForm("EditModel", "Model", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="text" name="id" value="@Model.Id" /></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" required name="name" value="@Model.Name"/> </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="desc" value="@Model.Desc" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Изменить" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>