<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Test layout</h1>
    <div>
        @RenderBody()
    </div>

    <footer>@RenderSection("footer", false)</footer>
</body>
</html>
